name: Android CI

on:
  push:
    # Ajustado para a sua branch que aparece no print
    branches: [ "principal", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4 # Atualizado para v4

    - name: set up JDK 17
      uses: actions/setup-java@v4 # Atualizado para v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: android

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3 # Versão estável do motor gradle

    - name: Build with Gradle
      run: gradle assembleDebug

    - name: Upload APK
      uses: actions/upload-artifact@v4 # O segredo está aqui! v4 resolve o erro do print
      with:
        name: MonstroV18-Debug-APK
        path: app/build/outputs/apk/debug/*.apk
