name: Android CI

on:
  push:
    # Ajustado para funcionar tanto em 'main' quanto em 'principal'
    branches: [ "main", "principal" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: android

    # Este passo é NOVO: ele cria o motor do Gradle que falta no seu projeto
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
    
    - name: Build with Gradle
      # Usamos 'gradle assembleDebug' direto porque você ainda não tem o ./gradlew
      run: gradle assembleDebug

    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: MonstroV18-Debug-APK
        path: app/build/outputs/apk/debug/*.apk
