name: Monstro V18 - Build Real

on:
  push:
    branches: [ "principal", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    # MOTOR FIXO QUE NÃO MEXEMOS
    - name: Gerar Motor (Gradle Wrapper)
      run: |
        echo "### MOTOR ESTÁVEL 8.4 ###"
        gradle wrapper --gradle-version 8.4
        chmod +x gradlew

    - name: Raio-X do Repositorio e Build
      run: |
        echo "### LISTANDO SEUS ARQUIVOS ###"
        ls -R
        # O 'clean' tenta apagar qualquer lixo de 57s antes de compilar
        ./gradlew clean :app:assembleDebug --no-daemon --stacktrace --info

    - name: Enviar APK
      if: success()
      uses: actions/upload-artifact@v4
      with:
        name: MonstroV18-FINAL
        path: app/build/outputs/apk/debug/*.apk
