name: Monstro V18 - Build do Repositorio

on:
  push:
    branches: [ "principal", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    # 1. Pega os arquivos que ESTÃO no seu repositório
    - uses: actions/checkout@v4

    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    # 2. Configura apenas o necessário para o ambiente (sem mexer no seu código)
    - name: Preparar Permissoes e Wrapper
      run: |
        echo "### USANDO ARQUIVOS DO REPOSITORIO ###"
        # Garante que o Gradle tenha permissão para rodar
        chmod +x gradlew
        
        # Cria o gradle.properties apenas para o servidor não travar (RAM)
        echo "org.gradle.jvmargs=-Xmx4g -XX:MaxMetaspaceSize=1g" > gradle.properties
        echo "android.useAndroidX=true" >> gradle.properties
        echo "android.enableJetifier=true" >> gradle.properties

    # 3. Roda o build usando os SEUS arquivos
    - name: Compilar APK Monstro
      run: ./gradlew :app:assembleDebug --no-daemon --stacktrace

    - name: Enviar APK
      uses: actions/upload-artifact@v4
      with:
        name: MonstroV18-FINAL
        path: app/build/outputs/apk/debug/*.apk
