name: Monstro V18 - Entrega Real

on:
  push:
    branches: [ "principal", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Reconstruir Estrutura e Motor
      run: |
        echo "### CONECTANDO AS PECAS DO EDITOR ###"
        # 1. Cria o mapa que o Gradle não está achando
        echo "include ':app'" > settings.gradle
        
        # 2. Garante que o motor seja o 8.4 que já funcionou no seu log
        gradle wrapper --gradle-version 8.4
        chmod +x gradlew

    - name: Compilar APK Monstro
      # Rodamos o comando que você tentou, mas agora com as pastas conectadas
      run: ./gradlew :app:assembleDebug --no-daemon --stacktrace

    - name: Entregar para o Henrique
      if: success()
      uses: actions/upload-artifact@v4
      with:
        name: MonstroV18-FINAL
        path: app/build/outputs/apk/debug/*.apk
